
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img src="~/Content/2.png" />
<h1>Comment about this movie after login </h1>
<h2> @Html.ActionLink("For Login Click Here", "login", "Coms")</h2>

